
  /* Contenu principal */
/* Style du pied de page */

.footer {
  background: linear-gradient(270deg, rgba(238, 137, 221, 0.5), rgba(17, 18, 19, 0.5), rgba(151, 148, 146, 0.5));
  color: white;
  text-align: center;
  padding: 15px;
  width: 97,5%;
  margin-top: 50px; /* Ajoute un espacement entre le contenu principal et le footer */
}
